// -----------------------------------------------------------
// DEPENDENCIAS
// -----------------------------------------------------------
@use 'sass:map';
@use '../../../2-tools/functions'          as mapFun;
@use '../../../1-settings/options'         as mapOpt;
@use '../../../1-settings/opt-colors'      as mapCol;
@use '../../../1-settings/opt-typography'  as mapTyp;
@use '../../../2-tools/mixins'             as mix;

// -----------------------------------------------------------
// ESTILO BASE
// -----------------------------------------------------------
$style-key: 'headlines-regular-h6';

// -----------------------------------------------------------
// COMPONENTE ATOM LOGO NAV
// -----------------------------------------------------------
.atom-logo-nav {
    
    $mobile-style: map.get(mapTyp.$typography-mobile-styles, $style-key);

    // Estilos texto
    font-family: map.get($mobile-style, 'font-family');
    font-weight: map.get(mapOpt.$opt-font-weights, 'semi-bold');
    font-size: mapFun.to-rem(map.get($mobile-style, 'font-size'));
    line-height: mapFun.to-rem(map.get($mobile-style, 'line-height'));
    letter-spacing: map.get(mapOpt.$opt-font-spacing, tight);

    // Estilos visuales
    text-align: left;
    cursor: pointer;
    display: inline-flex;
    color: map.get(mapCol.$opt-colors, 'base', 'white'); 
    background: map.get(mapCol.$opt-colors, 'base', 'black');
    border-radius: map.get(mapOpt.$opt-radius, 40);
    padding: map.get(mapOpt.$opt-dimensions, 60) map.get(mapOpt.$opt-dimensions, 60);
    white-space: nowrap;
    
    // Estilos interacción
    text-decoration: none;
    transition: color map.get(mapOpt.$opt-movement-duration, medium) map.get(mapOpt.$opt-movement-easing, in-out);

    &--name {
        display: none;
    }

    // --- TABLET ---
    @include mix.bp('tablet') {
        $tablet-style: map.get(mapTyp.$typography-tablet-styles, $style-key);
        
        // Estilos texto TABLET
        text-align: center;
        display: inline-flex;
        font-size: mapFun.to-rem(map.get($tablet-style, 'font-size'));
        line-height: mapFun.to-rem(map.get($tablet-style, 'line-height'));

        // Estilos visuales TABLET
        color: map.get(mapCol.$opt-colors, 'base', 'black'); 
        background:none;
        border-radius: map.get(mapOpt.$opt-radius, 0);
        padding: map.get(mapOpt.$opt-dimensions, 50) map.get(mapOpt.$opt-dimensions, 80);

        &--iso {
            display: none;
        }
        &--name {
            display:inline;
        }
    }

    // --- LAPTOP ---
    @include mix.bp('laptop') {
        $laptop-style: map.get(mapTyp.$typography-laptop-styles, $style-key);
        
        // Estilos texto LAPTOP
        font-size: mapFun.to-rem(map.get($laptop-style, 'font-size'));
        line-height: mapFun.to-rem(map.get($laptop-style, 'line-height'));

        // Estilos visuales LAPTOP
        padding: map.get(mapOpt.$opt-dimensions, 60) map.get(mapOpt.$opt-dimensions, 90);
    }

    // --- DESKTOP ---
    @include mix.bp('desktop') {
        $desktop-style: map.get(mapTyp.$typography-desktop-styles, $style-key);
        
        // Estilos texto DESKTOP
        font-size: mapFun.to-rem(map.get($desktop-style, 'font-size'));
        line-height: mapFun.to-rem(map.get($desktop-style, 'line-height'));

        // Estilos visuales DESKTOP
        padding: map.get(mapOpt.$opt-dimensions, 70) map.get(mapOpt.$opt-dimensions, 100);
    }

    // -----------------------------------------------------------
    // ESTADOS
    // -----------------------------------------------------------
    &:hover {
        color: map.get(mapCol.$opt-colors, 'base', 'white');
        background: map.get(mapCol.$opt-colors, 'primary', '500');
        transition: background-color map.get(mapOpt.$opt-movement-duration, fast) map.get(mapOpt.$opt-movement-easing, in-out);

        // --- TABLET ---
        @include mix.bp('tablet') {
            color: map.get(mapCol.$opt-colors, 'primary', '500');
            background:none;
        }
    }

    &:active {
        // --- TABLET ---
        @include mix.bp('tablet') {
            transform: translate(map.get(mapOpt.$opt-dimensions, 20), map.get(mapOpt.$opt-dimensions, 20));
        }
    }
}