// -----------------------------------------------------------
// DEPENDENCIAS
// -----------------------------------------------------------
@use 'sass:math';
@use '../1-settings/options' as mapOpt;

// -----------------------------------------------------------
// FUNCIÓN DE CONVERSIÓN DE PX A REM
// -----------------------------------------------------------
@function to-rem($px-value) {
  @return math.div($px-value, mapOpt.$opt-base-size) * 1rem;
}